body{
	font-family: 'Roboto Mono', monospace;
}

header {
	background: #9c7044;
	padding: 20px 0;
}
.imagem_logo {
	width: 20%;
}
.caixa {
	position: relative;
	width:  940px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav li {
	display: inline-block;
	margin: 0 0 0 15px;	
}
nav a {
	text-transform:  uppercase;
	color:  #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #ECE0C0;
	text-decoration: underline;
} 

.imagem_produtos {
	width: 100%;
}
.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #684f3b;
	border-radius: 10px;
}
.produtos li:hover {
	border-color: #ECE0C0;
}

.produtos li:active {
	border-color: #000000;
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}
.produto_descricao {
 	font-weight: 18px;
}
.link_produto {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer {
	text-align: center;
	background: linear-gradient(#bc8a5f,#9c7044);;
	font-size: 13px;
}
.imagem_logo_rodape {
	width: 10%;
}
main{
	
}
form{
	margin:  40px 0;
}
form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: #ece0c0;
	color: #684f3b;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover {
	background: #684f3b;
	color: #ece0c0;
	transform: scale(1.2);
}

table {
	margin: 30px 0 40px;
}
thead{
	background: #b08968;
	color: #583101;
	font-weight: bold;
}
tbody{
	background: #f0ead2;
	color: #583101;

}
td, th{
	border: 2px solid #583101;
	padding: 5px 10px;
}

/* Página inicial */

.kfe{
	width: 100%;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 1em 0 1em;
	clear: left;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 4px #e7bc91;
}

.titulo-principal:first-letter;{
	font-weight: bold;
	font-size: 2em;
}

.titulo-principal:before {
	content: "[";
}
.titulo-principal:after {
	content: "]";
}

.principal p {
	margin: 1em 0 1em;
	padding: 1em 0 1em;
}
.principal strong {
	font-weight: bold;
}
.principal em {
	font-style: italic;
}
.patos {
	width: 150px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa {
	text-align: center;
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#e7bc91);;

}

.link-mapa {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
}

.beneficios {
	padding: 3em 0;
	background: linear-gradient(#e7bc91,#bc8a5f); ;
}
.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}
.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;

}

.itens:first-child {
	font-weight: bold;
}
.itens:before{
	content: "\2605";
}
.itens:nth-child(2n){
	font-style: italic ;
}
.cavalos {
	width: 60%;
	opacity: 0.3;
	transition: 400ms;

}
.cavalos:hover {
	opacity: 0.8;
	box-shadow: 10px 10px 20px #9c7044;
}


.video {
	width: 560px;
	margin: 3em auto;
}

@media screen and (max-width:  480px) {
	.caixa, .principal, .conteudo-beneficios, .link-mapa, .video {
		width: auto;
	}
	h1 {
		text-align: center;
	}
	nav {
		text-align: center;
		position: static;
	}
	.lista-beneficios, .cavalos {
		width: 100%;
	}
}